@import "./utils.scss";

.fyui-nav {
  @apply relative w-full bg-fv-neutral-50 dark:bg-fv-neutral-900;
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 250ms cubic-bezier(0, 1, 0.4, 1), transform 250ms cubic-bezier(0.18, 1.25, 0.4, 1);
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .btn {
    @apply whitespace-nowrap;
  }
  .fyui-nav__skip-nav {
    @apply absolute -top-24;
  }
  .fyui-nav__wrapper {
    @apply flex fui-container py-2;
  }
  .fyui-nav__main {
    @apply w-full flex flex-wrap gap-4 items-center justify-between;
  }
  .fyui-nav__ul {
    @apply order-1 flex-1 hidden md:inline-flex md:items-center md:justify-end gap-2 lg:gap-5;
    svg {
      @apply w-4 h-4;
    }
    .fyui-nav__li {
      button,
      a {
        @apply inline-flex items-center gap-1 py-1 md:py-0 text-base md:text-sm lg:text-base;
      }
      .fyui-nav__sub {
        @apply md:absolute z-10 bg-fv-neutral-50 dark:bg-fv-neutral-900 md:pb-2 md:translate-y-3 pb-[1px] w-48 px-0.5 rounded-b-lg md:left-1/2 md:-translate-x-1/2 overflow-hidden;
        .fyui-nav__is-link {
          @apply hover:bg-transparent focus:bg-transparent;
          @apply block py-0.5 md:hover:bg-fv-neutral-200 md:dark:hover:bg-fv-neutral-800 md:focus:bg-fv-neutral-200 md:dark:focus:bg-fv-neutral-800 block px-3 md:text-center;
        }
      }
    }
    &.fyui-nav__nav-open {
      @apply flex flex-col min-w-full items-stretch px-4 py-3 md:inline-flex md:flex-row md:min-w-0 md:items-center md:px-0 md:py-0 order-4 md:order-1;
    }
  }
  .fyui-nav_toggle-open {
    @apply block md:hidden;
  }
  .fyui-nav__actions,
  .fyui-nav__nav,
  .fyui-nav__custom {
    svg {
      @apply w-4 h-4;
    }
    @apply inline-flex items-center gap-2;
  }
  .fyui-nav__custom {
    @apply md:order-1 pt-3 md:pt-0;
  }
  .fyui-nav__logo {
    @apply inline-flex items-center gap-2 h2;
  }
  .fyui-nav__actions {
    @apply md:order-2 flex items-center justify-between gap-2 lg:gap-3;
  }
  .fyui-nav__search {
    @apply px-0 pb-3 md:pb-0 md:px-3 w-full md:w-auto;
    .fyuid-nav__search-icon {
      @apply hidden lg:flex items-center px-2;
    }
    input {
      @apply text-base md:text-sm lg:text-base;
    }
  }
  .fyui-nav__rounded-action {
    @apply p-1.5 mr-2 md:mr-0 rounded-full;
    svg {
      @apply w-5 h-5 text-fv-neutral-500 dark:text-fv-neutral-400;
    }
  }
  .fyui-nav__btns {
    @apply inline-flex items-center gap-2 lg:gap-3 md:order-3 pt-3 md:pt-0;
  }
  .fyui-nav__has-childs {
    @apply relative;
  }
  .fyui-nav__is-link {
    @apply dark:hover:text-fv-primary-400 hover:text-fv-primary-700 dark:focus:text-fv-primary-400 focus:text-fv-primary-700 block;
    &.router-link-exact-active {
      @apply text-fv-primary-600 dark:text-fv-primary-400;
    }
  }
}
