//
:root {
  --size-sm-25: .25rem;
  --size-sm-50: .5rem;
  --size-sm-100: 1rem;
  --size-sm-150: 1.115rem;
  --size-sm-200: 1.125rem;
  --size-sm-300: 1.563rem;
  --size-sm-400: 1.953rem;
  --size-sm-500: 2.441rem;
  --size-sm-600: 3.052rem;
}

// Defaults
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  text-rendering: optimizeSpeed;
}

// Utils
.btn {
  @apply inline-flex px-[.85em] py-[.35em] rounded-lg font-semibold items-center;
  transition: background-color 400ms ease, box-shadow 400ms ease, color 400ms ease;
  &.primary {
    @apply bg-fv-primary-700 text-fv-neutral-100;
    @apply hover:bg-fv-primary-600 hover:text-white focus:text-white;
    @apply focus:bg-fv-primary-600;
  }
  &.neutral {
    @apply bg-neutral-200 text-fv-neutral-700 dark:bg-neutral-700 dark:text-fv-neutral-300;
    @apply hover:bg-fv-neutral-300 dark:hover:bg-fv-neutral-600;
    @apply focus:bg-fv-neutral-300 dark:focus:bg-fv-neutral-600;
  }
  &.danger {
    @apply bg-red-700 text-fv-neutral-100;
    @apply hover:bg-red-600 hover:text-white focus:text-white;
    @apply focus:bg-red-600 ;
  }
  &.disabled {
    @apply bg-fv-neutral-200/[.5] text-fv-neutral-600 dark:bg-fv-neutral-700/[.5] dark:text-fv-neutral-300;
    cursor: not-allowed;
  }
  &.warning {
    @apply bg-orange-700 text-fv-neutral-100;
    @apply hover:bg-orange-600 hover:text-white focus:text-white;
    @apply focus:bg-orange-600 ;
  }
  &.valid, &.success {
    @apply bg-green-700 text-fv-neutral-100;
    @apply hover:bg-green-600 hover:text-white focus:text-white;
    @apply focus:bg-green-600 ;
  }
  &.round, &.fround {
    @apply rounded-full;
  }
  &.big {
    @apply text-xl;
  }
  &.small {
    @apply text-sm;
  }
}
.btn-box {
  @apply inline-flex gap-4;
}
form .btn-box {
  button {
    @apply mt-4;
  }
}

.fui-container {
  @apply container mx-auto max-w-screen-xl px-2;
}
.fui-sr-only {
  @apply sr-only;
}


// Typo
.h1, .fui-typo h1, .fv-typo h1 {
  @apply font-bold dark:text-white border-b-2 border-b-fv-primary-200 dark:border-b-fv-primary-500 mb-3;
  font-size: var(--size-sm-500);
}
.h2, .fui-typo h2, .fv-typo h2 {
  @apply font-bold dark:text-white;
  font-size: var(--size-sm-400);
}
.h3, .fui-typo h3, .fv-typo h3 {
  @apply font-bold dark:text-white;
  font-size: var(--size-sm-300);
}
.h4, .fui-typo h4, .fv-typo h4 {
  @apply font-bold dark:text-white;
  font-size: var(--size-sm-200);
}
.h5, .fui-typo h5, .fv-typo h5 {
  @apply font-bold dark:text-white;
  font-size: var(--size-sm-150);
}
.h6, .fui-typo h6, .fv-typo h6 {
  @apply font-semibold dark:text-white;
  font-size: var(--size-sm-150);
}
.p, .default-p, .fui-typo p, .fv-typo p {
  @apply font-light text-fv-neutral-700 dark:text-fv-neutral-200 my-1 text-justify;
}
.blockquote, .fui-typo blockquote, .fv-typo blockquote {
  @apply p-4  bg-fv-neutral-100 border-l-4 border-fv-neutral-300 dark:border-fv-neutral-600 dark:bg-fv-neutral-900 italic font-medium leading-relaxed text-fv-neutral-900 dark:text-white;
  font-size: var(--size-sm-200);
}
.ul, .fui-typo ul, .fv-typo ul {
  @apply ml-4 space-y-0.5 list-disc list-inside text-fv-neutral-600 dark:text-fv-neutral-300 text-[.95rem];
}
.a, .fui-typo a, .fv-typo a {
  @apply font-medium text-fv-primary-600 dark:text-fv-primary-400 hover:text-fv-primary-800 dark:hover:text-fv-primary-300 focus:text-fv-primary-800 dark:focus:text-fv-primary-300;
  transition: color 300ms ease;
}
.hr, .fui-typo hr, .fv-typo hr {
  @apply my-4 mx-auto w-1/3 h-1 bg-fv-neutral-100 rounded border-0 dark:bg-fv-neutral-700;
}
.table, .fui-typo table, .fv-typo table {
  @apply align-middle inline-block min-w-full max-w-full shadow overflow-hidden overflow-x-auto sm:rounded-lg  ;
  th {
      @apply px-2 md:px-4 lg:px-6 py-1 md:py-2 lg:py-3 whitespace-nowrap text-right;
      button {
          @apply flex items-center;
      }
  }
  td {
      @apply px-2 md:px-4 lg:px-6 py-1 md:py-2 lg:py-3   ;
  }
  tbody {
      @apply my-2 py-2  min-w-fit sm:-mx-4 sm:px-4 lg:-mx-4 lg:px-4 ;

  }
  tr td {
     min-width: 28rem;

  }
}
.fui-typo, .fv-typo {
  @apply font-light text-fv-neutral-700 dark:text-fv-neutral-200 my-1 text-justify;
  &.margins {
    p {
      @apply mt-3 mb-2;
    }
  }
  :first-child {
    @apply mt-0;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply mt-3 mb-1;
  }
}
